.header {
    @apply flex top-0 z-50 fixed w-full items-center justify-between gap-10 bg-white text-base;
    padding-inline: clamp(0.5rem, 2.5vw, 2rem);
    padding-block: clamp(1rem, 2.5vh, 2rem);
}

.nav {
    @apply flex flex-shrink-0 items-center justify-between gap-[0.625rem] text-base;
}
