.social-btn {
    border: none;
    color: #2B1EBC;
    padding: 10px;
    min-width: 20;
    margin: 10px;
    border-radius: 10px; 
}
.btns {
    padding-top: 10px;
    padding-right: 20px;
}

.logo {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
}
#body {
    background-color: #BBACFA;
}