.footer {
    color: white;
    position: fixed;
    font-weight: bold;
    font-family: "Arial";
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    margin-left: 1.0em;
    margin-bottom: 1.0em;
}

@media (max-width: 480px) {
    .footer {
        text-align: center;
        margin-left: 0;
        margin-bottom: 0;
        margin-bottom: 2.0em;
     }
  }