@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
        font-family: "Inter", sans-serif;
    }
    html,
    body {
        @apply bg-white text-black h-full w-full text-4xl;
    }

    .font-exo {
        font-family: "Exo 2", sans-serif;
    }

    #__next {
        @apply isolate flex min-h-full flex-col slashed-zero;
    }
}

@layer components {
    .btns-rounded {
        @apply rounded border-purple border-[2.25px] items-center p-3 text-black hover:bg-btnHover hover:text-white active:text-white active:bg-btnActive;
    }
}
