#body {
    background-color: #BBACFA;
    background-image: url('./assets/main-ui.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-size: 750px 375px;
}